@{
    ViewBag.Title = "TestFrom";
}

<h2>TestFrom</h2>
<form method="post">
     Type 
    <input type ="radio" name="Type" value="1" checked="checked" /> Type1
    <input type ="radio" name="Type" value="2" checked="checked" /> Type2
    <br />

    Name
    <input type="text" id="Name" name="Name" value="" />
    <br />

    Email
    <input type="text" id="Email" name="Email" value="" />
    <br />

    Body
    <textarea cols="20" rows="2" name="Body" id="Body"></textarea>
    <br />

    <input type="submit" />
</form>
